@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500&family=Kanit:ital,wght@1,600&family=Lobster&family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,700&family=Lumanosimo&family=Merriweather:wght@300&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Oxanium:wght@500&family=PT+Serif&family=Pacifico&family=Playfair+Display&family=Poppins:ital,wght@1,500&family=Public+Sans:wght@100&family=Rubik:ital,wght@1,500&display=swap');
.event-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 40px;
}

.card {
  position: relative;
  border: 1px solid #000000;
  border-radius: 25px;
  padding: 20px;
  width: 300px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-image: url('https://img.freepik.com/free-vector/minimal-geometric-stripe-shape-background_1409-1014.jpg?size=626&ext=jpg&ga=GA1.2.2094091909.1690382277&semt=ais'); 
  background-size: cover;
  background-position: center;
  opacity: 0.9; 
  transition: opacity 0.3s ease-in-out;
}

.card:hover::before {
  opacity: 0;
}

.card:hover {
  transform: scale(1.05);
  border: 1px solid rgba(0, 0, 0, 0.7); 
  box-shadow: 1px 5px 10px rgba(255, 153, 21, 0.945); 
}

.card-title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #ffe9c8;
}

.card-date,
.card-location {
  font-size: 14px;
  color: #ffe9c8;
}

.card-description {
  font-size: 16px;
  margin-top: 10px;
  color: #ffe9c8;
  max-height: 80px; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: max-height 0.3s ease-in-out;
}

.card-description.expanded {
  max-height: none;
  overflow: visible;
}
h3 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;

 
  font-family: 'PT Serif', serif;
  color: #ffe9c8;
  animation: moveText 2s infinite alternate;
}

@keyframes moveText {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }
}
