@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500&family=Kanit:ital,wght@1,600&family=Lobster&family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,700&family=Lumanosimo&family=Merriweather:wght@300&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Oxanium:wght@500&family=PT+Serif&family=Pacifico&family=Playfair+Display&family=Poppins:ital,wght@1,500&family=Public+Sans:wght@100&family=Rubik:ital,wght@1,500&display=swap');
.About-boxes {
  display: flex;
  font-family: 'Poppins', sans-serif;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 40px;
}

.about-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  border: 2px solid #102d47;
  border-radius: 25px;
  padding: 20px;
  cursor: pointer;
  width: 320px;
  transition: transform 0.3s ease-in-out, border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.about-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  opacity: 0.5; 

}
/*
.about-box:nth-child(2)::before {
  background-image: url('https://tse3.mm.bing.net/th?id=OIP.4UDG6lZH2flCLfliU--7ZAHaE7&pid=Api&P=0&h=180'); 
}

.about-box:nth-child(3)::before {
  background-image: url('https://tse2.mm.bing.net/th?id=OIP.L0d3kL3E_XpRwjbeXnUPLwHaD5&pid=Api&P=0&h=180');
}*/


.about-box:hover::before {
  box-shadow: 0px 10px 10px rgba(34, 148, 255, 0.1);
  transition: opacity 0.3s ease-in-out;
}

.about-box:hover {
  transform: scale(1.05);
  transform: translateY(-10px);
  background-color: #6a7180;
  
  
}

.about-description {
  font-size: 13px;
  margin-top: 10px;
  color: #ffffff;
  max-height: 80px; 
  max-height: none;
  overflow: visible;
  text-overflow: ellipsis;
  white-space: normal;
  transition: max-height 0.3s ease-in-out;
}

.about-description.expanded {
  max-height: none;
  overflow: visible;
  color:#ffffff;

  
}
.about-title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #ffe9c8;
}
.about-image {
  width: 100%; 
  height: auto;
 
  border-radius: 5%; 
  margin-bottom: 10px;
  object-fit:cover; 
}

h3 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-family: 'PT Serif', serif;
  color: #ffe9c8;
  animation: moveText 2s infinite alternate;
}
hr{
  margin-top:1rem;
  width:4rem;
}

@keyframes moveText {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }
}
