
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500&family=Kanit:ital,wght@1,600&family=Lobster&family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,700&family=Lumanosimo&family=Merriweather:wght@300&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Oxanium:wght@500&family=Pacifico&family=Playfair+Display&family=Public+Sans:wght@100&family=Roboto+Mono:wght@100;400&family=Roboto:wght@500&family=Titan+One&display=swap');

.text-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    margin-top: -8rem;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.text-container h1 {
     margin-top: 10rem;
    font-size: 100px;
    color: rgba(225, 225, 225, 0.01);
    background-image: url("https://img.freepik.com/premium-photo/round-digital-button-backdrop_700248-12763.jpg?w=740");
    background-repeat: repeat;
    -webkit-background-clip: text;
    animation: animate 15s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0;
}

.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem; 
}

.timer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
  padding: 1px;
}

.timer-number {
  font-size: 36px;
  font-weight: bold;
  background-image: linear-gradient(to right,#ff9812, #483bdd); 
  -webkit-background-clip: text;
  color: transparent;
}

.timer-label {
  font-size: 14px;
  background-image: linear-gradient(to right,#4253be, #f3980e); 
  -webkit-background-clip: text;
  font-weight: bold;
  color: transparent;
  text-transform: uppercase;
}
.times-up {
  font-size: 30px;
  background-image: linear-gradient(to right,#ff9812, #585299); 
  -webkit-background-clip: text;
  font-weight: bold;
  color: transparent; 
}

.register-button {
  top:-3rem;
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #143e64;
  outline: none;
  transition: 1s ease-in-out;
  position: relative; 
}

.register-button svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #f37b0b;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.register-button:hover {
  transition: 1s ease-in-out;
}

.register-button:hover svg {
  stroke-dashoffset: -480;
}

.register-button span {
  color: rgb(181, 189, 226);
  font-size: 18px;
  font-weight: 100;
}
.custom-countup1 {
  position:absolute;
  margin-top: 35rem;
  text-align: center;
  left:20rem;
  color: rgb(224, 201, 179);
  font-size: 44px;
}
.custom-countup1 h4 {
  margin: 0;
  font-size: 15px; 
}
.custom-countup2 {
  position:absolute;
  margin-top: 35rem;
  text-align: center;
  right:20rem;
  color: rgb(224, 201, 179);
  font-size: 44px;
}
.custom-countup2 h4 {
  margin: 0; 
  font-size: 15px;
}

@keyframes animate {
    0%, 100% {
        background-position: left top;
    }
    25% {
        background-position: right bottom;
    }
    50% {
        background-position: left bottom;
    }
    75% {
        background-position: right top;
    }
}


@media (max-width: 768px) {
    .text-container h1 {
        font-size:60px;
    }
    .timer-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 1rem;
        padding: 0%;
      }
      .timer-number {
        font-size: 20px;
        font-weight: bold;
        background-image: linear-gradient(to right,#4253be, #f3980e); 
        -webkit-background-clip: text;
        color: transparent;
      }
      
      .timer-label {
        font-size: 10px;
        background-image: linear-gradient(to right,#ff9812, #585299); 
        -webkit-background-clip: text;
        font-weight: bold;
        color: transparent;
        text-transform: uppercase;
      } 
}


.register-button {
  top:3rem;
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #143e64;
  outline: none;
  transition: 1s ease-in-out;
  position: relative; 
}

.register-button svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #f37b0b;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.register-button:hover {
  transition: 1s ease-in-out;
}

.register-button:hover svg {
  stroke-dashoffset: -480;
}

.register-button span {
  color: rgb(181, 189, 226);
  font-size: 18px;
  font-weight: 100;
}
.custom-countup1 {
   
  margin-top: 32rem;
  text-align: center;
  left:4rem;
  color: rgb(224, 201, 179);
  font-size: 35px;
}
.custom-countup1 h4 {
  margin: 0;
  font-weight: lighter;
  color: aliceblue;
  font-size: 15px; 
}
.custom-countup1 hr {
  margin: 5px; 
  width:auto;
  height:0%;
}

.custom-countup2 {
  position:absolute;
  margin-top: 32rem;
  text-align: center;
  right:4rem;
  color: rgb(224, 201, 179);
  font-size: 35px;
}
.custom-countup2 h4 {
  margin: 0; 
  font-size: 15px;
  font-weight: lighter;
  color: aliceblue;
}
.custom-countup2 hr {
  margin: 5px; 
  width:auto;
}



@media (max-width: 480px) {
  .text-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    margin-top: -12rem;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

    .text-container h1 {
        font-size: 35px;
    }
    .register-button {
      top:4rem;
      width: 180px;
      height: 60px;
      cursor: pointer;
      background: transparent;
      border: 2px solid #1e4391;
      outline: none;
      transition: 1s ease-in-out;
      position: relative; 
    }
    
    .register-button svg {
      position: absolute;
      left: 0;
      top: 0;
      fill: none;
      stroke: #ff7b00;
      stroke-dasharray: 150 480;
      stroke-dashoffset: 150;
      transition: 1s ease-in-out;
    }
    
    .register-button:hover {
      transition: 1s ease-in-out;
    }
    
    .register-button:hover svg {
      stroke-dashoffset: -480;
    }
    
    .register-button span {
      color: rgb(167, 186, 196);
      font-size: 20px;
      font-weight:bold;
    }

    .custom-countup1 {
   
      margin-top: 33rem;
      text-align: center;
      left:3rem;
      color: rgb(224, 201, 179);
      font-size: 25px;
    }
    .custom-countup1 h4 {
      margin: 0;
      font-weight: lighter;
      color: rgb(205, 225, 243);
      font-size: 15px; 
    }
    .custom-countup1 hr {
      margin: 5px; 
      width:auto;
      height:0%;
    }
    
    .custom-countup2 {
      position:absolute;
      margin-top: 33rem;
      text-align: center;
      right:4rem;
      color: rgb(224, 201, 179);
      font-size: 27px;
    }
    .custom-countup2 h4 {
      margin: 0; 
      font-size: 15px;
      font-weight: lighter;
      color: rgb(205, 225, 243);
    }
    .custom-countup2 hr {
      margin: 5px; 
      width:auto;
    }
}
