@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500&family=Kanit:ital,wght@1,600&family=Lobster&family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,700&family=Lumanosimo&family=Merriweather:wght@300&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Oxanium:wght@500&family=Pacifico&family=Playfair+Display&family=Public+Sans:wght@100&family=Rubik:ital,wght@1,500&display=swap');
.navbar {
  
  font-family: 'Rubik', sans-serif;
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: rgb(122, 108, 226);
}

.navbar-toggle {
  font-size: 1.5rem;
  cursor: pointer;
  display: none; 
}

.navbar-toggle-icon {
  display: block;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin-left: auto;
}

.navbar-links li {
  margin: 0 1rem;
  transition: color 0.3s ease, transform 0.3s ease;
  position: relative; 
}

.navbar-links a {
  text-decoration: none;
  font-size: 20px;
  color: rgb(122, 108, 226);
  transition: color 0.3s ease; 
}

.navbar-links li::before {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  background-color: rgb(255, 158, 93); 
  bottom: -5px; 
  left: 50%; 
  transform: translateX(-50%);
  background-color: 0.3s ease;
  transition: width 0.3s ease; 
}

.navbar-links li:hover::before {
  width: 100%;
  bottom: -1px;
}

@media (max-width: 768px) {
  .navbar-toggle {
    display: block; 
  }
  
  .navbar-toggle-icon {
    font-size: 30px;
    position: absolute;
    top: 1rem; 
    left: 1rem;
    z-index: 2; 
  }
 
  .navbar-links {
    list-style: none;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(47, 45, 51, 0.418);
    top: -1rem; 
    left: -200px;
    height: 100%;
    width: 200px;
    transition: left 0.5s ease-in-out;
    z-index: 1; 
  }

  .navbar-links.open {
    left: 0;
  }

  .navbar-links li {
    padding: 7px;
    margin: 0.5rem 0;
  }
  .navbar-links a {
    text-decoration: none;
    font-size: 13px;
    align-items: center;
    color: rgb(155, 147, 233);
  }
}
